Data Structures in python:
    Tuple , Lists , Dictionaries , Sets , Arrays .

In [1]:
f='yu','op'
type(f)

tuple

In [2]:
f=5,6
type(f)

tuple

In [3]:
f='uy',5
type(f)

tuple

So a data structure can include integers , floats and strings as elements .

In [5]:
# also a tuple declaration

f = ( 5,6,7,8,'hi','welcome' , 2+5j)
print(f)
print()
print(type(f))

(5, 6, 7, 8, 'hi', 'welcome', (2+5j))

<class 'tuple'>

In [8]:
#Note : 2+5j is a complex number (data-type) in python 
a=2+5j
type(a)

complex

In [13]:
# If the element is a complex number , then j must always be acoompanied by a integer or float 
# 5+j is not valid complex number . 5+1j is correct format .

b=5+j
type(b)

NameError: name 'j' is not defined

In [16]:
b=5+1j
type(b)

complex

In [17]:
#Note : 5 + j1 is also not a correct format.

b= 5+j1
type(b)

NameError: name 'j1' is not defined

In [18]:
f = ( 5,6,7,8,'hi','welcome' , 2+5j)
print(len(f))

7

In [22]:
#Sets  : Unordered collection of non-repetitive elements. Elements can be numbers or strings
a={1,2,3,'string'}
type(a)

set

In [20]:
# Repetition is not available within a set 

a={ 1,2,2,2,2,3,4,5,6}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [25]:
#set operations :
a={1,2,3,4 ,'intersected element' , 'union1'}
b={3,4,5,6 ,'intersected element' , 'union2'}
c= a.difference(b)
d=a.symmetric_difference(b)  #symmetric difference ( entries that are not in both )
e=a.intersection(b)
f=a.union(b)

print(f'Difference of 2 sets is {c}')
print(f'Symmetric Difference of 2 sets is {d}')
print(f'Intersection of 2 sets is {e}')
print(f'Union of 2 sets is {f}')

Difference of 2 sets is {1, 2, 'union1'}
Symmetric Difference of 2 sets is {1, 2, 5, 6, 'union2', 'union1'}
Intersection of 2 sets is {'intersected element', 3, 4}
Union of 2 sets is {1, 2, 3, 4, 5, 6, 'intersected element', 'union2', 'union1'}

In [29]:
#.join() function over a list of strings ONLY

a=['ramesh','suresh','pratesh']
print(a)
c=" ,".join(a)
print(c)
d=" & ".join(a)
print(d)

['ramesh', 'suresh', 'pratesh']
ramesh ,suresh ,pratesh
ramesh & suresh & pratesh

In [30]:
a=['ramesh','suresh','pratesh', 5] # There is an integer entry
c=" ,".join(a)

TypeError: sequence item 3: expected str instance, int found

In [31]:
# TUPLE DESTRUCTURING

currencies=0.8, 1.2
usd , eur=currencies

# taking elements of a tuple and assigning to variables.
print(f'usd = {usd}')
print(f'eur = {eur}')

usd = 0.8
eur = 1.2

In [32]:
#example 2:

friends=[('Rolf',25) , ('Anne', 37), ('Bob', 22)]  # A list of tuples.

for name,age in friends:
    print(f"Name is {name} and Age is {age}")
    
    #equivalent :
    #for friend in friends:
        #name , age = friend
        #or
        #name=friend[0]
        #age=friend[1]

Name is Rolf and Age is 25
Name is Anne and Age is 37
Name is Bob and Age is 22

In [ ]:
## BREAK , CONTINUE , PASS

In [34]:
cars=['ok','ok','ok','faulty','ok','ok']
for status in cars:
    if status=='faulty':
        print('This car is faulty ! Stopping the production line!')
        break
    
    print(f"This car is {status}")
    print("Shipping new car to customer!\n")
    
    
    # When faulty car is found , the chain is 'broken' and the production is halted . BREAK WILL BREAK OUT OF THE ENTIRE LOOP.

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is faulty ! Stopping the production line!

In [35]:
cars=['ok','ok','ok','faulty','ok','ok']
for status in cars:
    if status=='faulty':
        print('This car is faulty ! Skipping....!\n')
        continue
    
    print(f"This car is {status}")
    print("Shipping new car to customer!\n")
    
    # Continue will continue the loop but wont execute rest of the code during that iteration.

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is faulty ! Skipping....!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

In [36]:
#FOR ELSE - Else will execute if the for loop doesnt break.

cars=['ok','ok','ok','ok','ok']
for status in cars:
    if status=='faulty':
        print('This car is faulty ! Stopping the production line!')
        break
    
    print(f"This car is {status}")
    print("Shipping new car to customer!\n")

#If i want to print something incase all cars were successfully shipped without breaking the loop.... 
#One way to do it is by success=True , if status==faulty set success to False and after loop ends , if success==True
#print('......')

#But its more convenient to use else 

else:
    print("All cars built successfully. No faulty cars found!")  # will get executed cos loop executed without breaking...

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

This car is ok
Shipping new car to customer!

All cars built successfully. No faulty cars found!

In [37]:
#finding prime number using for-else an break

for number in range(2,10):
    for n in range(2, number):    # math.sqrt(number) , optimisation
        if number%n==0:
            print(f"{number} is divisible by {n}")
            break
    else:
        print(f"{number} is a prime")
        
        
#optimisation :
    #Prime number can be checked only till sqrt(number) : Erastothenes' theorem

2 is a prime
3 is a prime
4 is divisible by 2
5 is a prime
6 is divisible by 2
7 is a prime
8 is divisible by 2
9 is divisible by 3

In [38]:
#LIST SLICING

friends= ['Anne','Bob','Stephen','Lisha','Natasha']   #INDICES [0 , 1, 2, 3, 4]   [-5 , -4 , -3 , -2 , -1]
print(friends[:3])   # till 3 not included
print(friends[3:4])  # till 4 not included
print(friends[-3:])  # from stephen to end

['Anne', 'Bob', 'Stephen']
['Lisha']
['Stephen', 'Lisha', 'Natasha']

In [39]:
a= ['once','upon','a','time','there was a wolf']
b=' '.join(a[0:4])
b

'once upon a time'

In [40]:
#LIST COMPREHENSION

a=[1,2,3,4,5]
do=[2*x for x in a]     # [ 'EXPRESSION' for 'VARIABLE' in 'BASE_LIST' if 'CONDITION' ]
do

[2, 4, 6, 8, 10]

In [41]:
#Example 2

do=[2*x for x in range(5)]
do

[0, 2, 4, 6, 8]

In [45]:
#Example 3

friends=['Rahul','Amith','Sanjay']
age=[23,22,20]
data=zip(friends,age)
my_strings=[f"Age of {friend} is {age}" for friend,age in data]
print(my_strings)

['Age of Rahul is 23', 'Age of Amith is 22', 'Age of Sanjay is 20']

Zip function takes 2 lists as arguments and forms a new list of tuples with each tuple having corresponding elements 
of the argument lists.

In [47]:
friends=['Rahul','Amith','Sanjay']
age=[23,22,20]
data=zip(friends,age)
print(data)
print(list(data))

<zip object at 0x0000023BABF24F40>
[('Rahul', 23), ('Amith', 22), ('Sanjay', 20)]

In [48]:
#Example 4

friends=['Rahul','AMith','Sanjay']
friends=[name.lower() for name in friends]
friends

['rahul', 'amith', 'sanjay']

In [49]:
#Titlecasing 

friends=['rahul','aMith','sanjay']
[friend.title() for friend in friends]   #First letter is capital

['Rahul', 'Amith', 'Sanjay']

Quirks : In the above example , note 'aMith' - title() not only capitalizes first letter but lower-cases subsequent letters aswell.

Note: Comprehension can also be on tuple and sets

In [50]:
#Conditional Comprehension

ages=[22,23,24,25,26,27]
odds=[age for age in ages if age%2!=0]
odds

[23, 25, 27]

In [51]:
# Example :

friends=['Rahul','Amith','Sanjay']
guests=['jose','amith','Sanjay']

f_lower=[
    friend.lower() for friend in friends
]

guest_friends=[
    name.title() for name in guests if name.lower() in f_lower
]

guest_friends

['Amith', 'Sanjay']

In [52]:
friends={friend.lower() for friend in friends}   #Set comprehension
friends

{'amith', 'rahul', 'sanjay'}

Dictionary = { key : value , key : value , key : value }

In [53]:
#Method 1 : Dictionary Comprehension  using 2 lists
    
friends=['Rahul','Amith','Sanjay']
age=[23,22,20]

diction = {
    friends[i]:age[i] for i in range(len(friends)) if age[i]>20
}

diction                 #Dictionary comprehension

{'Rahul': 23, 'Amith': 22}

In [56]:
# Method 2  : dict(zip) function
 
#Dict() can be used to convert a list of pair-values i.e [(name, age)]

#Zip() creates a new list in which each element is a tuple of corresponding elements in iterable.

friends=['Rahul','Amith','Sanjay']
age=[23,22,20]

zipper=list(zip(friends,age))
print(zipper)
print()
print(f'Dictionary formed is {dict(zipper)}')



#ZIP COMBINES 2 OR MORE LISTS INto 1 LIST

[('Rahul', 23), ('Amith', 22), ('Sanjay', 20)]

Dictionary formed is {'Rahul': 23, 'Amith': 22, 'Sanjay': 20}